<phpunit
        bootstrap="vendor/autoload.php"
        colors="true">
    <testsuite name="Project">
        <directory>tests</directory>
    </testsuite>
    <php>
        <env name="ENV_NAME" value="testing"/>
        <env name="ENCRYPTION_KEY" value="74a64db2018d928d351d7bdd257c410efa938a010bc32bcd789155fd8cd75eb9"/>
        <env name="SESSION_HANDLER" value="Opulence\Sessions\Handlers\ArraySessionHandler"/>
        <env name="VIEW_CACHE" value="Opulence\Views\Caching\ArrayCache"/>
    </php>
</phpunit>