html
{
    font-family: 'Segoe UI', arial, sans-serif;;
    font-size: 13px;
    color: #111;
    background-color: #f1f1f1;
}

body
{
    position: relative;
    width: 1024px;
    padding: 0 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px #888;
    background-color: #fff;
    min-height: 600px;
}

body, div
{
    box-sizing: border-box;
}

a, a:link, a:active, a:visited
{
    color: #369;
    text-decoration: none;
    cursor: pointer;
}

a:hover
{
    color: #147;
}

h1
{
    padding: 0;
    margin: 0 0 10px 0;
}

img
{
    border: none;
}

ul, ol
{
    padding: 0 1em;
    margin: 0;
}

ul
{
    list-style: inside none;
}

ol
{
    list-style-position: inside;
}

button
{
    font-size: 18px;
    cursor: pointer;
    background-color: #ddd;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    font-family: 'Segoe UI', arial, sans-serif;;
}

button:hover
{
    color: #111;
    background-color: #ccc;
    border-color: #111;
}

input::-moz-focus-inner, button::-moz-focus-inner
{
    border: 0;
}

input, select, textarea
{
    font-family: 'Segoe UI', arial, sans-serif;;
}

input[type=text], input[type=password], input[type=email]
{
    text-align: left;
    width: 150px;
    height: 18px;
    font-size: 14px;
}

table
{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;;
}

nav.main
{
    background-color: #369;
}

nav.main a, nav.main a:link, nav.main a:active, nav.main a:visited
{
    padding: 0 10px;
    color: #fff;
}

nav.main a:hover
{
    color: #def;
}

nav.main ul li
{
    padding: 0 5px;
    display: inline-block;
    line-height: 2em;
    font-size: 1.2em;
}

footer
{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 40px;
    background-color: #f1f1f1;
    color: #888;
}