html
{
    font-family: 'Open Sans', 'Segoe UI', arial, sans-serif;
    font-size: 14px;
    color: #111;
}

body
{
    margin: 0 auto;
}

body, div
{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6
{
    color: #555;
    font-weight: 300;
}

h1
{
    font-size: 30px;
}

h1, h2, h3, h4, h5, h6
{
    margin: 0 0 10px;
}

h2
{
    font-size: 24px;
}

h3
{
    font-size: 22px;
}

h4
{
    font-size: 18px;
}

h5
{
    font-size: 16px;
}

h6
{
    font-size: 14px;
}

pre
{
    word-wrap: break-word;
}

a, a:link, a:active, a:visited
{
    color: #69c;
    text-decoration: none;
    cursor: pointer;
}

a:hover
{
    color: #49a;
}

img
{
    border: none;
}

ul, ol
{
    padding: 10px 1em;
    margin: 0;
}

ul
{
    list-style: inside none;
}

ol
{
    list-style-position: inside;
}

ol.errors
{
    list-style-position: inside;
}

button
{
    font-size: 18px;
    cursor: pointer;
    background-color: #ddd;
    color: #333;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: 'Segoe UI', arial, sans-serif;
}

button:hover
{
    color: #111;
    background-color: #d7d7d7;
}

input::-moz-focus-inner, button::-moz-focus-inner
{
    border: 0;
}

input, select, textarea
{
    font-family: 'Segoe UI', arial, sans-serif;
}

input[type=text], input[type=password], input[type=email]
{
    text-align: left;
    width: 150px;
    height: 18px;
    font-size: 14px;
}

table
{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

main
{
    background-color: #fff;
}

#welcome-wrapper
{
    margin: 0 auto;
}

#welcome h1
{
    font-size: 56px;
}

#learn-more
{
    margin-top: 30px;
}

@media screen and (min-device-width: 1024px)
{
    body
    {
        background: #eee;
    }

    main
    {
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100px;
        min-height: 350px;
    }

    #welcome-wrapper
    {
        padding: 100px 162px 100px 182px;
        min-width: 800px;
        max-width: 1024px;
        background: url('/assets/images/opulence-background.png') 20px 100px no-repeat;
    }
}

@media screen and (max-device-width: 1023px)
{
    main
    {
        padding: 10px;
    }

    #welcome-wrapper
    {
        padding-bottom: 130px;
        background: url('/assets/images/opulence-background.png') bottom center no-repeat;
    }
}
